* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 600vh; /* controls scroll length */
    background: black;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}
